<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>deployment success</title>
  </head>
  <body>
    <h1>Hey Hey ......... man you did it ......</h1>
    <h2>
      you deployed <a href="http://wizzenalum.github.io/">wizzenalum</a> dumy
      project to the heroku server.
    </h2>
  </body>
</html>
